html, body {
    font-family: monospace;
	margin: 0;
    padding: 0;
}
.container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.workspace {
	position: absolute;
	background: lightblue;
	display: inline;
}
.info {
	background: lightgreen;
	color: black;
}
.red {
	background: pink;
	color: darkred;
}