@font-face {
	font-family: 'RobotoMono';
	src: url(RobotoMono-Regular.ttf);
}

html, body {
    font-family: 'RobotoMono', monospace;
	/*font-weight: bold;*/
	margin: 0;
    padding: 0;
}
.container {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 1;
}

.workspace {
	position: absolute;
	background: black;
	color: gray;
	display: inline;
	border: 0;
	margin: 0;
	~letter-spacing: 0px;
	~word-spacing: 0px;
	~font-size: 0;
}
.workspace span {
	display: block;
	float: left;
}
.workspace table td { display: block; float: left;}

.info {
	background: lightgreen;
	color: black;
}
.red {
	background: pink;
	color: darkred;
}

.bg_,
.bg_0 { background: black; }
.bg_1 { background: red; }
.bg_2 { background: green; }
.bg_3 { background: yellow; }
.bg_4 { background: blue; }
.bg_5 { background: magenta; }
.bg_6 { background: cyan; }
.bg_7 { background: white; }

.bg_8 { background: gray; }
.bg_9 { background: darkred; }
.bg_a { background: darkgreen; }
.bg_b { background: darkgoldenrod; }
.bg_c { background: darkblue; }
.bg_d { background: darkmagenta; }
.bg_e { background: darkcyan; }
.bg_f { background: darkgray; }

.bg_g { background: lightgray; }
.bg_h { background: lightcoral; }
.bg_i { background: lightgreen; }
.bg_j { background: lightgoldenrodyellow; }
.bg_k { background: lightblue; }
.bg_l { background: lightpink; }
.bg_m { background: lightcyan; }
.bg_n { background: lightgray; }


.fg_,
.fg_0 { color: black; }
.fg_1 { color: red; }
.fg_2 { color: green; }
.fg_3 { color: yellow; }
.fg_4 { color: blue; }
.fg_5 { color: magenta; }
.fg_6 { color: cyan; }
.fg_7 { color: white; }

.fg_8 { color: dimgray; }
.fg_9 { color: darkred; }
.fg_a { color: darkgreen; }
.fg_b { color: darkgoldenrod; }
.fg_c { color: darkblue; }
.fg_d { color: darkmagenta; }
.fg_e { color: darkcyan; }
.fg_f { color: darkgray; }

.fg_g { color: lightgray; }
.fg_h { color: lightcoral; }
.fg_i { color: lightgreen; }
.fg_j { color: lightgoldenrodyellow; }
.fg_k { color: lightblue; }
.fg_l { color: lightpink; }
.fg_m { color: lightcyan; }
.fg_n { color: slategray; }

.fg_z { color: white; animation: blinker 0.5s ease infinite; }

@keyframes blinker {
	50% { opacity: 0; }
}
