html, body {
    font-family: monospace;
	margin: 0;
    padding: 0;
}
.tst {
    position: absolute;
	top: 0;
	left: 0;
    float: left;
    background: beige;
	color: cadetblue;
    line-height: 1;
    vertical-align: middle;
	font-size: 10vw;
	opacity: 0.4;
}
.scr {
	~border: 2px solid coral;
}
.grid {
	background: lightblue;
	display: inline;
}
.red {
	background: red;
}